/* GENERAL */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'baloo 2',Arial,sans-serif;
}

.wrapper{
    width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}



































/*HEADER */












































/*ACCUEIL*/













































/*DESTINATION */













































/*ACTIVITY*/












































/*CONTACT*/













































/*FOOTER/*




































