/* GENERAL */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'baloo 2',Arial,sans-serif;  

}

.wrapper{
    width: 60rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    background-color: rgba(85, 47, 255, 0.479);
    box-sizing: border-box;
}

.point{
    color: #d32f2f;
}

.bar{
    height: 0.2rem; 
    width: 40rem;
    margin: 1rem auto;
    background-image: -webkit-linear-gradient(left, rgba(255,215,0,0), #d32f2f, rgba(255,215,0,0)) ;
}

h2{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;    
    /* background-color: #d32fc2; */
}

























/*HEADER */


header nav{
    align-items: center;    
    display: flex;
    justify-content: space-between;          
}

#logo{    
    width: 5rem;
    height: 5rem;
} 

header nav h1{   
    
    font-size: 3rem;  
    align-items: center;    
}

.nav-links ul{    
    display: flex;       
    justify-content: center;    
}

header nav ul li{
    margin: 0 1rem;
}

header nav ul li.active a{
    color: #ff6659;
    font-weight: 900;
}

header nav a{
    text-transform: uppercase;      
    font-size: 1rem;  
    font-weight: 500;
    display: inline;
}

header nav a::after{
    content: "";
    display: block;    
    height: 0.1rem;
    width: 0%;
    background: #d32f2f;    
    transition: width 0.5s ease-in-out;
}

header nav a:hover::after{
    width: 100%;
}
header nav .hamb{
    display: none;
    font-size: 3.5rem;
    position: absolute;
    top: 0.02rem;
    margin-left: 50rem;
    
}



/* Création du media queries pour navbar responsive */
/*test
@media screen and (max-width: 960px){
    
    header nav .hamb{
        display: block;
    }
    
    header nav .nav-links ul{
        position: absolute;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;    
        background-color: rgba(0, 0, 0, 0.200); 
        backdrop-filter: blur(3px);  
        margin-left: 100%;
        transition: all 0.5s ease;      
    }  
    
    .nav-links.mobile-menu ul{
        margin-left: 0;
    } 

    header nav ul li{
        margin: 2rem 0;               
    }

    header nav ul li a{
        font-size: 1.5rem;
    }
}
    


*/



































/*ACCUEIL*/
/*   test responsive 
@media screen and (max-width: 960px){
    #accueil{
        display: none;
    }
}
*/















/* Slideshow container */


.slideshow-container img{
  height: 30rem;
  object-fit: cover ;
  box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  border-radius: 1rem;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  height: 30rem;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}













































































































/*DESTINATION */




div.gallery {
    border-radius: 0.3rem;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    margin: 0.3rem; 
  }
  
  div.gallery:hover {
    box-shadow:4px 4px 5px #d32f2f;
  }
  
  div.gallery img {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    width: 100%;
    height: 13rem;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  

  .responsive {
    padding: 0 6px;
    float: left;
    width: 32%;
  }
  
  @media only screen and (max-width: 960px) {
    .responsive {
    position:relative;
    right: -25%;
    width: 50%;   
    height: 18rem;  
    }
    
  } 

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
























/*ACTIVITY*/


#activités{   
   
    background-color: #d32f2f15;   
    height: 30rem;
    
}









































/*CONTACT*/


#contact{    
   
    background-color: #d32f2f15;   
    height: 30rem;
}










































/*FOOTER*/





footer{    
    
    background-color: #d32f2f15;   
    height: 10rem;
}






























