/* GENERAL */


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'baloo 2', Arial, sans-serif;
    box-sizing: border-box;

}

.wrapper {
    width: 60rem;
    margin: 0 auto;
    padding: 0 0.5rem;   
}

.point {
    color: #d32f2f;
}

.bar {
    height: 0.2rem;
    width: 40rem;
    margin: 2rem auto;
    background-image: -webkit-linear-gradient(left, rgba(255, 215, 0, 0), #d32f2f, rgba(255, 215, 0, 0));
}

h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    /* background-color: #d32fc2; */
}
























/*HEADER */







header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 5em;
    height: 5rem;
}

header nav h1 {
    font-size: 3rem;
    align-items: center;
}

.nav-links ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li.active a {
    color: #ff6659;
    font-weight: 900;
}

header nav a {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    display: inline;
}

header nav a::after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 0%;
    background: #d32f2f;
    transition: width 0.5s ease-in-out;
}

header nav a:hover::after {
    width: 100%;
}

.bar1 {
    height: 0.2rem;
    width: 40rem;
    margin: 1rem auto 2rem;
    background-image: -webkit-linear-gradient(left, rgba(255, 215, 0, 0), #d32f2f, rgba(255, 215, 0, 0));
}




/* Style the navbar */
#navbar {
    z-index: 1;
    overflow: hidden;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 60rem;
    background-color:
}

























#accueil{
    padding-top: 3.5rem;
}


/* Slideshow container */


.slideshow-container img {
    height: 30rem;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    height: 30rem;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}













































































































/*DESTINATION */




#destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 39.5rem;
}








/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin-bottom: 1rem;
    justify-content: space-around;
    background-color: transparent;
    width: 295px;
    height: 200px;    
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    border-radius: 0.3rem;
    
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    border-radius: 0.3rem;
    overflow: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);     
 
}

.fond{
    background: rgba(255, 255, 255, 0.75);  
    width: 295px;
    height: 200px;
    border-radius: 0.3rem;  
}
    
.fond h3{
    font-size: 25px;    
    padding-top: 5px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.fond p{
    font-size: 20px;
    padding: 7px;
    font-weight: bold;
}

.fond h3, .fond p{       
    color: #850000;  
    text-shadow: #ff6659 1px 0 10px;  
}

.egypt{
    background-image: url(../img/dest/dest1.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.bora{
    background-image: url(../img/dest/dest2.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.irelande{
    background-image: url(../img/dest/dest3.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.japon{
    background-image: url(../img/dest/dest4.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.canada{
    background-image: url(../img/dest/dest5.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.norway{
    background-image: url(../img/dest/dest6.jpg); 
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem;     
}

.france{
    background-image: url(../img/dest/dest7.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem; 
}

.londres{
    background-image: url(../img/dest/dest8.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem; 
}

.univers{
    background-image: url(../img/dest/dest9.jpg);
    background-position: center;
    background-size: auto 100%;  
    border-radius: 0.3rem; 
}










































/*ACTIVITY*/


#activités{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
height: 48.35rem;
}


div.gallery {
    border-radius: 0.3rem;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0.3rem;
    width: 300px;
    height: 250px;
}

div.gallery:hover {
    box-shadow: 4px 4px 5px 0 #d32f2f;
}

div.gallery img {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    width: 100%;
    height: 13rem;
}

div.desc {
    text-align: center;
}





























/*CONTACT*/





#contact
{
    text-align: center;
}

#contact h3
{
    width: 25rem;
    text-transform: uppercase;
    margin: 0 auto 2rem auto;
    border-bottom: 1px solid #FF5722;
    padding-bottom: 2rem;
    color: #00897b
}

#contact p
{
    padding-bottom: 2rem;
}

#contact strong
{
    color:#FF5722;
}

form
{
    font-weight: bold;
}

form img
{
    height: 15px;
}


label
{
    font-size: 1em;
    color: #00897b
}

input
{
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-right: 5px;
}


textarea
{
    resize: vertical;
    font-size: 1rem;
}

.envoi
{
    display: block;
    margin: auto;
    padding: auto;
    font-size: 1.25em;
}




































/*FOOTER*/



footer {
    text-align: center;
}